{% extends 'base.html' %} {% load staticfiles %} {% block content %}

<!DOCTYPE htmL>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="style.css" />
  <title>About</title>
</head>

<body>
  <!-- About Text  -->
  <section>
    <div class="mission-background">
      <h3 class="mission">Tindog</h3>
      <p class="mission-para">A fun place to meet dog lovers!</p>
    </div>
  </section>
  <section>
    <div class="about-two">
      <h3 class="statement">About</h3>
      <p class="about-para">Welcome to Tindog!! Our mission is to make a great place for avid single dog lovers to meet!</p>
    <div>
      <h3 class="mission">Technologies Used</h3>
      <ul class="lang">HTML</ul>
      <ul class="lang">CSS</ul>
      <ul class="lang">Python</ul>
      <ul class="lang">Bootstrap</ul>
      <ul class="lang">Django</ul>
    </div>
  </section>
</body>

</html>
{% endblock %}
