{% extends 'base.html' %} {% load staticfiles %} {% block content %}

<!DOCTYPE htmL>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="style.css" />
  <title>About</title>
</head>

<body>
  <!-- About Text  -->
  <section>
    <div class="mission-background">
      <h3 class="mission">Tindog</h3>
      <p class="mission-para">Lorem Ipsum</p>
    </div>
  </section>
  <section>
    <div class="about-two">
      <h3 class="statement">About</h3>
      <p class="about-para">More Lorem Ipsum </p>
    </div>
  </section>
  <footer>Created by </footer>
</body>

</html>
{% endblock %}
