{% extends 'base.html' %} {% load staticfiles %} {% block content %}

<!DOCTYPE htmL>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="style.css" />
  <title>About</title>
</head>

<body>

  <div class="containter">
    <section>
      <!-- About Text  -->
      <section>
        <div class="taco">
          <div class="all">
            <h3 class="mission">Tindog</h3>
            <div class="touch">
              <p class="mword">Lorem Ipsum</p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="about">
          <h3 class="statement">About</h3>
          <p class="stuff">More Lorem Ipsum </p>
        </div>
      </section>
<footer>Created by </footer>
</body>

</html>
{% endblock %}
