{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


 {% for treasure in treasures %}

<div class="container-fluid">
<div class="row">
  <div class="col-md-3">
    <div class="date-card" id="{{treasure.id}}">
      <a href="/{{treasure.id}}">
        <p>Name: {{ treasure.name }}</p>
        <p>Age: {{ treasure.age}}</p>
        <p>Gender: {{ treasure.gender }}</p>
        <p>Location: {{ treasure.location}}</p>
      </a>
      <div class="photo">
        <img src="/media/treasure_images/{{ treasure.image.url }}" height="100">
      </div>
      <button id="likes" data-id="{{treasure.id}}" class="like" type="button">Wags:
        {% if treasure.likes > 0 %} {{ treasure.likes }} {% else %} None :( {% endif %}
      </button>
      <button id ="delete" data-id="{{treasure.delete}}" class="delete-date" type="button">delete
      </button>
      <hr />
    </div>
  </div>
</div>
</div>
  {% endfor %}
  <form enctype="multipart/form-data" action="post_url/" method="post" >
   {% csrf_token %}
  <div class="field-wrapper">
    {{ form.as_p }}
    <input type="submit" value="Submit" class="submit" />
  </div>
  </form>
  <hr />
{% endblock %}
