{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


 {% for treasure in treasures %}
 <form enctype="multipart/form-data" action="post_treasure" method="post" >
    <div class="date-card" id="{{treasure.id}}">
      <a href="/{{treasure.id}}">
        <div class="photo">
          <img src="/media/treasure_images/{{ treasure.image.url }}" height="100">
        </div>
        <p>Name: {{ treasure.name }}</p>
        <p>Age: {{ treasure.age}}</p>
        <p>Gender: {{ treasure.gender }}</p>
        <p>Location: {{ treasure.location}}</p>
        <p>About: {{ treasure.about}}</p>
        <p>Dog: {{ treasure.dog }}</p>
        <p>Breed: {{ treasure.breed}}</p>
      </a>
      <button id="likes" data-id="{{treasure.id}}" class="like" type="button">Wags:
        {% if treasure.likes > 0 %} {{ treasure.likes }} {% else %} None :( {% endif %}
      </button>
      <!-- <button id ="delete" data-id="{{treasure.id}}"  class="delete-date" type="button">delete -->
      <!-- </button> -->
         <button><a href="{% url 'delete' treasure.id %}" type="button" name="button">Delete</a></button>
      <hr />
    </div>
  {% endfor %}

   {% csrf_token %}
  <div class="field-wrapper">
    {{ form.as_p }}
    <input type="submit" value="Submit" class="submit" />
  </div>
  </form>
  <hr />
{% endblock %}
